<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar WiFi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Actualizar WiFi</h1>
        <form action="{{ url_for('update', id=wifi.id) }}" method="POST" class="form">
            <input type="hidden" name="id" value="{{ wifi.id }}">
            <input type="text" name="ssid" value="{{ wifi.ssid }}" required>
            <input type="text" name="password" value="{{ wifi.password }}" required>
            <button type="submit" class="btn update">Actualizar</button>
        </form>
        <a href="{{ url_for('index') }}" class="btn read">Volver</a>
    </div>
</body>
</html>
